@{
    ViewBag.Title = "Technical Characteristics";
}
<ul class="breadcrumb">
    You are here: 
    
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Technical Characteristics", "TechnicalCharacteristics", "Home")</li>
   
</ul>
<h2>Technical Characteristics</h2>
<div class="col-md-2">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("View Technical Characteristics", "", "")</li>
        <li>@Html.ActionLink("Add New Technical Characteristics", "", "")</li>
        <li>@Html.ActionLink("View Data Formats", "", "")</li>
        <li>@Html.ActionLink("Add new Data Formats", "", "")</li>
</ul>
</div>

<p>Technical characteristics page design </p>
